/* Web fonts */
@font-face
{
    font-family: Oleo Script;
    src: url(./assets/fonts/oleo_script/oleoscript-regular.ttf);
}

@font-face
{
    font-family: Space Grotesk;
    src: url(./assets/fonts/space_grotesk/space_grotesk-variable_font_wght.ttf);
}

/* Global Styles */

.App
{
    max-width: 1650px;
    margin: auto;
    background-color: #FAFAFA;
    font-family: 'Space Grotesk', 'sans-serif';
}

button
{
    border: none;
    background-color: #2549D3;
}

a
{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* Navigation */

.navbar
{
    padding: 2.05% 8.68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
    background-color: #FAFAFA;
}

.navbar h1
{
    font-size: 1.5625em;
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    margin: 0;
}

.navbar #hamburger
{
    display: none;
}

.navbar a
{
    padding: 10px;
    text-decoration: none;
}

ul.nav-links
{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

ul.nav-links li
{
    font-weight: 400;
}

ul.nav-links li a:hover
{
    color: #2549D3;
}

ul.nav-links li a.active
{
    color: #2549D3;
    font-weight: 700;
}

.navbar button
{
    padding: 0px;
    border-radius: 5px;
}

.navbar button a
{
    color: #fff;
}

/* Hero section */
#home
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 6.5% 8.68% 0px 8.68%;
}

#home>div
{
    width: 45%;
}

.intro
{
    padding: 1.45% 0px;
}

.intro h2
{
    font-size: 2.76rem;
    font-weight: 600;
    color: #0F298B;
}

.intro p
{
    padding: 7.2px 0px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.5rem;
}

.intro .more_info
{
    display: flex;
    align-items: center;
}

.intro button
{
    padding: 10px;
    border-radius: 5px;
}

.intro button a
{
    color: #fff;

}

.intro .play_button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #0F298B;
    margin: 0px 5.5%;
}

.intro img
{
}

.hero_image
{
    width: 100%;
    height: auto;
}

/*
.hero_vectors
{
    position: relative;
    top: -10%;
}

.hero_vectors .circle
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.blue
{
    background-color: #2549D3;
}

.white
{
    position: relative;
    background-color: #0FF;
    bottom: 10px;
    left: 35px;
}

*/

.hero_image_vector
{
    width: 43%;
    height: auto;
    position: relative;
    top: -15%;
    left: -4.75%;
}


/* Hand held mobile devices*/

@media only screen and (max-width: 510px)
{
    #home .intro h2
    {
        font-size: 2.2rem;
    }

    #home .intro p
    {
        font-size: 0.95rem;
    }
}

/*  */
@media only screen and (max-width: 850px)
{

    /* Navigation */
    #topmenu.navbar
    {
        position: sticky;
        top: 0;
        display: block;
        max-height: 59px;
        overflow: hidden;
        transition: max-height 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    #topmenu.open
    {
        max-height: 1000px;
    }

    .navbar h1
    {
        display: inline-block;
    }

    .navbar #hamburger
    {
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 8.68%;
        margin-top: 7.5px;
    }

    #hamburger>div
    {
        width: 100%;
        height: 4px;
        border-radius: 7px;
        background-color: #2549D3;
        position: absolute;
        right: 0;
        transition: transform 0.5s, opacity 0.15s;
    }

    #hamburger .top
    {
        top: 0;
    }

    #hamburger .mid
    {
        top: 40%;
    }

    #hamburger .bottom
    {
        bottom: 0;
    }

    #hamburger.open .top
    {
        transform: translateY(7.5px) translateX(0px) rotate(-45deg);
    }

    #hamburger.open .mid
    {
        opacity: 0;
    }

    #hamburger.open .bottom
    {
        transform: translateY(-8.5px) translateX(0px) rotate(45deg);
    }

    .navbar a
    {
        padding: 5px;
        font-size: smaller;
    }

    ul.nav-links
    {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 10px;
        width: auto;
    }

    .navbar button
    {
        display: block;
        margin: auto;
        margin-right: 0px;
    }

    /* Hero section */

    #home>div
    {
        width: 100%;
        padding-bottom: 6.5%;
    }

    .intro h2
    {
        font-size: 2.6rem;
    }

    .intro p
    {
        font-size: 1rem;
    }
}

/* Ultrawide screens */
@media only screen and (min-width: 1500px)
{
    .intro h2
    {
        font-size: 4rem;
    }

    .intro p
    {
        font-size: 1.9rem;
    }
}